*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# you can find the Station file at opendata.rmv.de
/app/src/main/assets/RMV_Haltestellen.csv

# ide specific files
.idea
# these pictures are from the RMV website, i do not know the License
/app/src/main/res/drawable/r_pic.png
/app/src/main/res/drawable/u_pic.png
/app/src/main/res/drawable/s_pic.png
/app/src/main/res/drawable/b_pic.png
/app/src/main/res/drawable/t_pic.png
# the api key is a secret
/app/src/main/assets/api_key.json
